/* ---------------------------------------------------
    CSS VARIABLES
--------------------------------------------------- */
:root {
    --primary-color: #FFB633;
    --primary-color-dark: #ffa400;
    --primary-color-light: #FECE46;

    --secondary-light: #1F2E45;
    --secondary-dark: #1C293F;

    --tertiary-light: #1F2E45;
    --tertiary-dark: #1C293F;
    
    --default-font-size: 1.4rem;
    --small-font-size: 1.2rem;
    --default-font-color: #999;
}

/* ---------------------------------------------------
    BASE STYLES
--------------------------------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
}

html {
    /* This defines what 1rem is | 62.5% = 10px (browser default: 16px) */
    font-size: 62.5%; /* 1 rem = 10px; */
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 12rem 0;
    box-sizing: border-box;
}
.no-padding { padding: 0; }

h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 3rem;
}
h2::after {
    content: "";
    display: block;
    border-bottom: .3rem solid var(--primary-color);
    width: 8rem;
    margin-top: 1rem;
}

p {
    font-size: 1.4rem;
    color: var(--default-font-color);
    line-height: 2.5rem;
    user-select: text;
}
p::selection {
    background: var(--primary-color-light);
    color: #444;
}
@media only screen and (min-width: 2200px) {
    html { font-size: 75%; }
}
@media only screen and (min-width: 1690px) {
    .wrapper {
        max-width: 169rem;
        margin: 1% auto;
        box-shadow: 0 1rem 6rem rgba(0,0,0,.2);
    }
}
@media only screen and (max-width: 1100px) {
    .container {
        width: 70rem;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 800px) {
    html { font-size: 56.25%; }
    .container {
        width: 100%;
        padding: 10rem 5rem;
    }
}
@media only screen and (max-width: 430px) {
    body {
        min-width: 50rem;
    }
    .container {
        width: 46rem;
        margin: 0;
        padding: 10rem 2rem;
    }
}

@media only screen and (max-height: 430px) {
    .container {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
}

/* ---------------------------------------------------
    HEADER / JUMBOTRON SECTION
--------------------------------------------------- */
.header {
    height: 65rem;
    position: relative;
    background-image: linear-gradient(to right, white 0%,white 60%,var(--primary-color) 60%, var(--primary-color-dark) 100%);
}
.header .text-box {
    max-width: 32rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .text-box__text > * {
    margin-bottom: .5rem;
    text-transform: capitalize;
}
.header .text-box__text--greeting {
    color: var(--default-font-color);;
    font-size: 2rem;
    display: block;
    opacity: 0;
    -webkit-animation: 1s fadeInLeft forwards;
    animation: 1s fadeInLeft forwards;
}
.header .text-box__text--primary {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 6rem;
    display: block;
    line-height: 5rem;
    opacity: 0;
    -webkit-animation: 1s fadeInLeft 1s forwards;
    animation: 1s fadeInLeft 1s forwards;
}
.header .text-box__text--subtext {
    color: #555;
    font-size: 2.7rem;
    display: block;
    opacity: 0;
    -webkit-animation: 1s fadeInLeft 2s forwards;
    animation: 1s fadeInLeft 2s forwards;
}
.header a.btn {
    margin-top: 3rem;
    opacity: 0;
    -webkit-animation: 1s fadeInBottom 3s forwards;
    animation: 1s fadeInBottom 3s forwards;
}

.header .img {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .4s;
}
.header .img:hover {
    transform: translateY(-50%) scale(1.02);
}
.device {
    width: 65rem;
    height: 35rem;
    box-shadow: 0 5rem 4rem -5rem #222;
    -webkit-animation: 7s levitate infinite;
    animation: 7s levitate infinite;
}
.device .monitor {
    width: 83%;
    height: 96%;
    padding: 2rem;
    margin: 0 auto;
    background: #333;
    border-radius: 10px 10px 0 0;
    border: .3rem solid #d4d5d7;
}
.device .monitor::before {
    content: "";
    width: .4rem;
    height: .4rem;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #5a5a5a;
}
.device .screen {
    height: 100%;
    background-color: #222;
}
.device .content {
    height: 100%;
    width: 100%;
    padding: 1.5rem 2rem;
    color: #aaa;
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.device #console-text {
    display: inline;
    line-height: 1.7rem;
}
.device #typewriter {
    color: white;
}
.device #cursor{
    color: white;
    font-size: 1.2rem;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
.device .text-blue {color: #007FFF; }
.device .text-yellow {color: #ff0; }
.device .text-green { color: #0f0 }
.device .bottom {
    width: 100%;
    height: 6%;
    margin-top: -1%;
    border-radius: 0 0 20px 20px;
    background: #d4d5d7;
    position: relative;
}
.device .bottom::before {
    content: "";
    width: 15%;
    height: 45%;
    position: absolute;
    top: 0;    
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
    background: #AAA;
}
/* Makes the device an iPad Pro */
@media only screen and (max-width: 1100px) {
    .header {
        background-image: linear-gradient(to right, white 0%,white 50%,var(--primary-color) 50%, var(--primary-color-dark) 100%);
    }
    
    .device {
        width: 30rem;
        height: 35rem;
        box-shadow: none;
    }
    .device .monitor {
        width: 100%;
        height: 100%;
        padding: 2.5rem 1.5rem 2.7rem 1.5rem;
        border: .2rem solid #d4d5d7;
        border-radius: 10px;
        box-shadow: 0 .5rem 2rem #444;
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.5);
    }
    .device .monitor::before {
        top: 1.6rem;
        background: #5a5a5a;
    }
    .device .monitor::after {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        bottom: .8rem;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #555;
        border-radius: 50%;
        background: #3a3a3a;
    }
    .device .bottom {
        display: none;
    }
    .device .content {
        padding: 1rem 1.5rem;
        font-size: .5rem;
    }
    .device #console-text {
        line-height: 1.2rem;
    }
    .device #cursor {
        font-size: .5rem;
    }
}
@media only screen and (max-width: 800px) {
    .header { height: 50rem; }
    .header .img { margin-right: 5rem; }
}
@media only screen and (max-width: 705px) {
    .header { background-image: linear-gradient(to right, white 0%,white 100%); }
    .header .img { display: none; }
}

@media only screen and (max-height: 430px) {
    .header {
        height: 100vh;
        min-height: 30rem;
    }
}
/* ---------------------------------------------------
    ABOUT-ME SECTION
--------------------------------------------------- */
.about-me {
    background-color: #f7f7f7;
}
.about-me .current-stack {
    height: 100%;
    width: 45%;
    display: block;
    float: left;
    margin-top: -2rem;
}
.about-me .current-stack h3 {
    font-weight: 400;
    font-size: 1.6rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
}
.about-me .current-stack svg {
    width: 16%;
    padding: .5rem;
    background: #fff;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,.2);
    margin: .5rem 1rem;
    transition: box-shadow 0.2s ease-in;
}
.about-me .current-stack svg:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.3);
}
.about-me .text-box {
    display: inline-block;
    width: 54%;
    vertical-align: top;
    margin: 2rem 0;
}
.about-me .text-box p {
    margin-bottom: 3rem;
    text-align: justify;
}
.about-me .text-box a:not(:last-child) {
    margin-right: 1rem;
}

@media only screen and (max-width: 1100px) {
    .about-me .img-box {
        display: none;
    }
    .about-me .current-stack {
        width: 100%;
        float: none;
        margin: auto;
    }
    .about-me .current-stack svg {
        width: 10%;
        margin: .75rem;
    }
    .about-me .text-box {
        margin: 0 0 5rem 0;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .about-me .current-stack svg {
        width: 16%;
        margin: .5rem 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .about-me .current-stack svg {
        width: 20%;
        margin: .75rem .85rem;
    }
}

/* ---------------------------------------------------
    EDUCATION SECTION
--------------------------------------------------- */
.education {
    background-color: white;
    position: relative;
}
.education .text-box {
    width: 60%;
    margin-bottom: 3rem;
}
.education .schools {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.education .schools .school {
    border: 1px solid #ddd;
    width: 33.3rem;
    min-width: 33.3rem;
    padding: 5rem 3rem;
    background-color: white;
    transition: all .4s;
}

.education .schools .school:hover {
    box-shadow: 0 0 4rem rgba(0,0,0,.2);
    transform: translateY(-1rem);
}
@media only screen and (min-width: 1101px) {
    .education .schools > *:not(:first-child) {
        border-left: none;
    }
}
.education .schools .active {
    background: var(--primary-color-light);
}
.education .schools .school span {
    display: block;
    color: var(--default-font-color);;
    font-size: 1.2rem;
    line-height: 2rem;
}
.education .schools .school .title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #555;
}
.education .schools .school .description {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2rem;
}
.education .schools .active span {
    color: #555;
}

@media only screen and (max-width: 1100px) {
    .education .text-box {
        width: 100%;
    }
    .education .schools {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 705px) {
    .education .schools {
        justify-content: center;
    }
}

/* ---------------------------------------------------
    PROJECTS SECTION
--------------------------------------------------- */
.projects {
    background-color: #f7f7f7;
}
.projects.side-projects {
    background-color: #ffffff;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-list .project {
    width: 45rem;
    margin: 2rem;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.3);
    transition: all .4s;
}
.project-list .project:hover {
    box-shadow: 0 1rem 6rem rgba(0,0,0,.5);
}
.project-list .project.not-production .img-box {
    background-color: #a7a7a7;
} 
.project-list .project .img-box {
    width: 100%;
    height: 25rem;
    background-color: #373737;
    position: relative;
}
.project-list .project .img-box img {
    width: 85%;
    height: 90%;
    object-fit: cover;
    object-position: 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 1rem);
    transition: all .4s;
}
.project-list .project:hover .img-box img {
    transform: translate(-50%, 0);
}
.project-list .project .img-box .tech-stack {
    position: absolute;
    top: 1.25rem;
    top: 0;
    right: 0;
    text-align: right;
}
.project-list .project .img-box .tech-stack span {
    display: inline-block;
    background: #000;
    background: rgba(0,0,0,.6);
    color: #eee;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    margin: -.5rem .2rem .5rem .2rem;
}
.project-list .project .img-box .tech-stack span.warning {
    background: var(--primary-color);
    color: #444;
}
.project-list .project .text-box {
    height: 17rem;
    padding: 2rem 2.5rem;
    background: white;
    position: relative;
}
.project-list .project .text-box > span {
    display: block;
}
.project-list .project .text-box .title {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: .2rem;
    color: #444;
}
.project-list .project .text-box .description {
    font-size: 1.2rem;
    color: var(--default-font-color);
}
.project-list .project .text-box .buttons {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
}
.project-list .project .text-box .buttons a {
    margin-right: .75rem;
}
/* ---------------------------------------------------
   FOOTER
--------------------------------------------------- */
.footer {
    width: 100%;
    padding: 3rem 0;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(200,200,200,.3);
    background: white;
}

.footer-text {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
}

.footer-text > * {
    margin: 0 auto;
    padding-top: .2rem;
    color: var(--default-font-color);
    display: block;
}
.footer-text__secondary {
    font-size: 1rem;    
}

.footer-text a,
.footer-text a:link,
.footer-text a:visited {
    text-decoration: none;
    color: var(--primary-color);
}


/* ---------------------------------------------------
   BUTTON
--------------------------------------------------- */

a.btn,
a.btn:link,
a.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 4rem;
    display: inline-block;
    font-size: var(--default-font-size);
    transition: all .2s;
    box-sizing: border-box;
}

a.btn-clear {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
a.btn-clear:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.05);
}
.btn-default {
    background: transparent;
    color: #555;
    border: 1px solid #555;
}
.btn-default:hover {
    background-color: #555;
    color: white;
    transform: scale(1.05);
}

a.btn-primary {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
    color: white;
}
a.btn-primary:hover {
    transform: scale(1.05);
}

a.btn-small,
a.btn-small:link,
a.btn-small:visited {
    font-size: 1.1rem;
    font-weight: 700;
    padding: .5rem .75rem;
}
/* ---------------------------------------------------
   ANIMATIONS
--------------------------------------------------- */

@-webkit-keyframes fadeInLeft {
0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes fadeInLeft {
0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes fadeInBottom {
0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes fadeInBottom {
0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem); }
100% {
    opacity: 1;
    -webkit-transform: translate(0); } }

@keyframes levitate {
    0% {
        transform: translateY(0px);
	}
	50% {
        transform: translateY(-20px);
	}
	100% {
        transform: translateY(0px);
    } }

@keyframes blink {
    0% { opacity:1; }
    49% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:0; }
}